- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

- scripts.add(["/vendor/jquery/dist/jquery.min.js"])

- styles.add(["/vendor/normalize.css/normalize.css"])

- scripts.add(["/vendor/log.js","/vendor/modernizr.js"])

//- User
- styles.add(["/styles/base.css"])
- styles.add(["/styles/grid.css"])
- styles.add(["/styles/helper.css"])
- styles.add(["/styles/style.css"])
- scripts.add(["/scripts/script.js"])

doctype html
html(lang="en")
	head

		// Meta
		meta(charset="utf-8")
		meta(http-equiv="content-type", content="text/html; charset=utf-8")

		//-
			Use the .htaccess and remove these lines to avoid edge case issues.
			More info: h5bp.com/i/378
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

		//- Our site title and description
		title= getPreparedTitle()
		meta(name="description", content=getPreparedDescription())
		meta(name="keywords", content=getPreparedKeywords())
		meta(name="author", content=site.author || '')

		//- Output DocPad produced meta elements
		!= getBlock('meta').toHTML()

		//- Mobile viewport optimized: h5bp.com/viewport
		meta(name="viewport", content="width=device-width")

		// Icons
		link(rel="shortcut icon", href="/ico/favicon.ico")
		link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/ico/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/ico/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/ico/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed", href="/ico/apple-touch-icon-57-precomposed.png")

		//- Shims: IE6-8 support of HTML5 elements
		//if lt IE 9
			script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

		link(href='http://fonts.googleapis.com/css?family=Great+Vibes|Merriweather:400,700|Open+Sans', rel='stylesheet', type='text/css')
		// Styles
		!= styles.toHTML()

	body
		.container
			.row
				.col-1 1111111111111111111
				.col-1 1111111111111111111
				.col-1 1111111111111111111
				.col-1 1111111111111111111
			.row
				.col-2 2222222222222222222
				.col-2 2222222222222222222
			.row
				.col-3 3333333333333333333
				.col-1 1111111111111111111
			.row
				.col-4 4444444444444444444

		//.container
			.row
				.col-xs-12.col-sm-7.col-md-8.col-lg-9
					section#content.box!= content
				.col-xs-12.col-sm-5.col-md-4.col-lg-3
					.box.extra
						.row
							.col-xs-12
								h2 Tilsyns rapport
								img(src='/image/kontrolrapport.gif')
					.box
						h2 Kom og spis
						p Lorem ipsum dolor sit amet
						p Lorem
							| ipsum
							a(href="/") link
		//-footer
			.container
				.row
					.col-xs-12.col-sm-6
						h2 Administration
						p=site.data.address1
						p=site.data.address2
						p Tlf. #{site.data.phone}
						p: a(href="mailto:#{site.email}") #{site.email}

		// Scripts
		!= scripts.toHTML()
